@charset "utf-8";
form {}
.deg_form_list {
    width: 700px;
    border: solid 1px #e8eadf;
    margin: 0 auto;
    padding: 30px;
    border-radius: 5px;
}
@media screen and (max-width:979px) {
    .deg_form_list {
        border: none;
    }
}
.deg_form_list .msg_view {
    color: #333;
    margin-bottom: 10px;
}
form label {
    text-align: left;
}
.deg_form_list {}
.deg_form_list dt {
    background: #f7f7f7;
    border-bottom: 2px solid #fff;
    color: #333;
    font-size: 14px;
    vertical-align: middle;
    min-width: 210px;
    max-width: 210px;
    height: 50px;
    padding: 0 10px;
    display: table-cell;
}
.deg_form_list dt .hint {
    color: #ffadb8;
    font-size: 0.8em;
}
.deg_form_list dd {
    padding: 0 10px;
    display: table-cell;
    height: 50px;
    vertical-align: middle;
}
input:focus,
select:focus {
    outline: none;
}
@media screen and (max-width:979px) {
    .deg_form_list dt {
        display: block;
        background: #fff;
        height: auto;
        padding: 0;
    }
    .deg_form_list dt label:before {
        content: '';
        background: url("../images/left_service.png") no-repeat center center;
        background-size: 20px;
        width: 20px;
        height: 20px;
        display: block;
        float: left;
    }
    .deg_form_list dd {
        height: auto;
        padding: 0 0 1em;
        width: 100%;
        display: block;
    }
}
.general .deg_form_list {
    width: 580px;
    margin: 0 auto;
}
.general .checkbox,
.general .formg_btn,
.general .submit,
.general .top_remind {
    text-align: center;
}
@media screen and (max-width:979px) {
    .general .deg_form_list {
        width: 94%;
        padding: 20px 3%;
    }
}
.submit {
    text-align: center;
}
input[type="submit"],
.deg_btn {
    background: #f00;
    border: none;
    color: #fff;
    font-size: 16px;
    -webkit-appearance: none;
    cursor: pointer;
    *overflow: visible;
    border-radius: 3px;
    padding: 0.5em 3em;
    margin: 0.8em 0.2em 0.2em 0.1em;
}
input[type="submit"]:hover,
.deg_btn:hover {
    background: #ec1414;
}
.deg_btn {
    color: #FFF !important;
    text-align: center;
}
.deg_btn a:hover {
    text-decoration: none !important;
}
@media screen and (max-width:979px) {
    input[type="submit"],
    .deg_btn {
        font-size: 15px;
        padding: 0 2em;
        height: 40px;
    }
}
input[type="submit"].deg_back_btn,
.deg_back_btn {
    background-color: #dbdbdb;
    border: none;
    color: #666 !important;
    font-size: 16px;
    text-decoration: none;
    -webkit-appearance: none;
    cursor: pointer;
    *overflow: visible;
    border-radius: 3px;
    padding: 0.5em 3em;
    margin: 0.8em 0.2em 0.2em 0.1em;
    transition: all 0s ease;
}
input[type="submit"].deg_back_btn:hover,
.deg_back_btn:hover {
    background-color: #ccc;
    text-decoration: none;
}
@media screen and (max-width:979px) {
    input[type="submit"].deg_back_btn,
    .deg_back_btn {
        font-size: 15px;
        padding: 0 2em;
        height: 40px;
        display: block;
        line-height: 40px;
    }
}
.btn_wrap_one {
    text-align: center;
}
.btn_wrap {
    text-align: center;
    padding: 2em 0;
}
.btn_wrap > div,
.btn_wrap > p {
    display: inline-block;
}
form input[type="text"],
form input[type="email"],
form input[type="password"] {
    border-radius: 3px;
    width: 310px;
    height: 24px;
    padding: 3px 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    line-height: 1.15;
}
@media screen and (max-width:979px) {
    form input[type="text"],
    form input[type="email"],
    form input[type="password"] {
        width: 96%;
        padding: 3px 2%;
    }
}
form input[type="file"] {
    max-width: 280px;
}
form textarea {
    border-radius: 3px;
    -webkit-input-placeholder: #eaeaea;
    color: #717171;
    border: 1px solid #ccc;
    padding: 5px;
    height: 100px;
    width: 95%;
    max-width: 280px;
}
form select {
    clear: both;
    color: #717171;
    padding: 5px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
}
form label.radio_label {
    display: block;
    border: none;
    padding: 0;
    background: none;
    line-height: 45px;
}
form label.checkbox_label {
    display: block;
    border: none;
    padding: 0;
    background: none;
    line-height: 38px;
}
@media screen and (max-width:979px) {
    .regist_post dd {
        background: #eee;
        padding: 10px 3%;
        margin-bottom: 1em;
        width: 94%;
        border-radius: 3px;
    }
}
.finish .hint {
    font-size: 16px;
}