@charset "utf-8";

/* -----------------------------------------------------
 目次
■共通のデザイン
	＊ヘッダー
	＊コンテンツレイアウト
	＊サイドバー
	＊フッター
	＊そのほかの共通
		・上に戻るボタン
		・パンくず
		・記事一覧
		・ページャー
■トップページ
■記事ページ
	＊記事ヘッダー
	＊記事ブロック
	＊本文内パーツなど
■カテゴリー一覧ページ
■大カテ・サブカテ
■ユーザページ
■画像ページ
■検索ページ
■検索結果
■その他のページ
	＊ねこちゃんホンポとは
	＊運営会社
	＊利用規約
	＊プライバシーポリシー
	＊Ｑ＆Ａ投稿規約
■コメント投稿関連
	＊コメント投稿確認画面
	＊コメント投稿完了画面
	＊通報ページ
------------------------------------------------------ */

/* ------------------------------------------------------
 = 共通のデザイン
------------------------------------------------------ */
html,body {
	background: #fff;
	color: #444;
	min-width: 1020px;
}
body{
	position:relative;
	font-size:14px;
	color:#444;
	-webkit-text-size-adjust: 100%;
	font-family:"メイリオ", Meiryo, Osaka, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.wrap {
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}

/*アプリの時*/
.app_wrap {
	margin-top: 0 !important;
}

a{
	color: #45403c;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(255,242,243,.3);
}

a:hover {
	text-decoration: none;
}
a:hover img {
	opacity: 0.8;
	filter: alpha(opacity=80);
	-ms-filter: "alpha( opacity=80 )";
}

.linkbox {
	cursor: pointer;
}
.linkbox:hover{
	background-color: #fff8eb;
	text-decoration:none; 
	-webkit-tap-highlight-color: rgba(255,242,243,.3);
	transition-property: all;
	transition: 0.2s linear;
}

.clearfix:after { content: ""; clear: both; display: block; }

/* ヘッダー
------------------------------------------------------ */
#header {
	border-bottom: 1px solid #eee;
}

/* ロゴ */
.header_logo {
	float: left;
	margin: 34px 12px 32px 0;
}
.header_logo a {
	width: 254px;
	height: 42px;
}

.header_dis {
	float: left;
	color: #aaa;
	font-size: 12px;
	margin-top: 37px;
}

/* 姉妹サイト */
.header_wanchan {
	display: table;
	width: 100px;
	height: 113px;
	float: right;
	border-left: 1px solid #eee;
}
.header_wanchan a{
	display:table-cell;
	width:100%;
	height:100%;
	vertical-align:middle;
	color: #ef8080;
	font-size: 86%;
	font-weight: 700;
	text-align: center;
}
.header_wanchan img {
	display: block;
	width: 73px;
	height: auto;
	margin: 5px auto 8px;
}

/* ナビゲーション */
.header_nav {
	float: right;
	margin-top: 30px;
}
.header_nav li {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	margin: 0 15px;
}
.header_nav li a {
	color: #666666;
	font-size: 86%;
	font-weight: 700;
}
.header_nav li img {
	display: block;
	margin: 0 auto;
}


/* コンテンツレイアウト
------------------------------------------------------ */
#content {
	overflow: hidden;
	padding-top: 26px;
}
#content .wrap {
	position: relative;
}

/* 2カラム */
#main{
	border-right: 1px solid #eee;
	float: left;
	position: relative;
	width: 700px;
	padding: 0em 15px 20px 0;
	box-sizing: border-box;
}
#side{
	float: right;
	width: 300px;
	min-height: 100%;
	padding: 0 0 2em 0;
	box-sizing: border-box;
}


/* サイドバー
------------------------------------------------------ */
#side > div {
	margin-bottom: 34px;
	padding-left: 15px;
}
#side_fixed > div,
#side_fixed > aside,
#side_fixed > section,
#side_fixed > nav {
	margin-bottom:34px;
}
.side_title{
	border:1px solid #f57151;
	color:#f57151;
	font-size:86%;
	font-weight:bold;
	text-align:center;
	padding:4px 0;
	margin-bottom:10px;
	border-radius: 5px;
}

/* 検索 */
.side_search {
	margin-bottom: 18px !important;
}

/* カスタム検索フォーム */
.side_search table.gsc-search-box td.gsc-input {
	padding-right: 5px;
}
.side_search table.gsc-search-box td.gsc-input .gsc-input-box {
	height: 32px;
}
.side_search table.gsc-search-box td.gsc-input .gsc-input-box > table {
	height: 100%;
}
.side_search table.gsc-search-box .gsc-search-button-v2 {
	padding-top:8px;
	padding-bottom: 8px;
}

/* カテゴリ一覧 */
.side_cate .nav_cat li {
	padding: 10px 0;
}
.side_cate .nav_cat li a {
	display: block;
	color: #222;
	font-size: 14px;
	position: relative;
}
.side_cate .nav_cat li a::after {
	position: absolute;
	top: 50%;
	right: 10px;
	display: block;
	content: '';
	width: 4px;
	height: 4px;
	margin-top: -2px;
	border-top: 2px solid #666;
	border-right: 2px solid #666;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.side_cate .nav_cat li a:hover {
	background: #f8f8f8;
}
.side_cate .nav_cat li.now_cat {
	display: block;
	font-size: 115%;
	padding: 10px 0;
	color: #ff8571;
}

/* おすすめ記事 */
.side_recommend_text {
	color: #666666;
	font-size: 86%;
	margin-bottom: 5px;
}
.side_recommend li a {
	display: block;
	padding: 10px 0;
	color: #666;
	font-size: 86%;
	font-weight: bold;
}
.side_recommend li img {
	width: 60px;
	float: left;
}
.side_recommend li p {
	margin-left: 70px;
}

/* 広告 */
#side .side_ad {
	text-align: center;
	margin-left: -15px;
}
#side_fixed .side_ad {
	margin-bottom: 20px;
}

/* よく読まれている記事 */
.side_ranking {
	margin-left: -5px;
}
.side_ranking li {
	overflow: hidden;
	padding: 10px 0 10px 5px;
}
.side_ranking li a {
	padding: 0;
	display: block;
	position: relative;
}
.side_ranking .img {
	float: left;
}
.side_ranking .img img{
	width:130px;
	border-radius: 3px;
}
.side_ranking .detail {
	margin-left: 140px;
	color: #666;
	font-size: 86%;
}
.side_ranking .detail .name {
	font-size: 10px;
	color: #ccc;
}
.side_ranking .num1 .detail {
	margin-left: 0;
}
.side_ranking .num1 .img {
	float: none;
	margin-bottom: 5px;
}
.side_ranking .num1 .img img {
	width: 100%;
	height: auto;
}
.side_ranking .rank{
	position:absolute;
	top:-7px;
	left:-7px;
	background:#f57151;
	border:2px solid #fff;
	color:#fff;
	font-size:72%;
	font-weight:bold;
	width:24px;
	line-height:20px;
	text-align:center;
	z-index:1;
	border-radius: 6px;
}

/* スクロール固定 */
#side_fixed {
	width: 300px;
}

/* 関連記事 */
.side_kanren {
	margin-bottom: 30px;
}
.side_kanren .page_title {
	border-bottom: 2px solid #f57151;
	padding-bottom: 10px;
	margin-bottom: 0;
}
.side_kanren .dis {
	font-size: 86%;
	line-height: 1.5em;
	margin-bottom: 10px;
}
.side_kanren .lists li {
	border-bottom: 1px solid #eee;
}
.side_kanren .lists li a {
	display: table;
	width: 100%;
	padding: 12.5px 0;
	overflow: hidden;
}
.side_kanren .lists li .img{
	display:table-cell;
	width:50px;
	height:50px;
	overflow:hidden;
}
.side_kanren .lists li .img img{
	width:auto;
	height:50px;
	border-radius: 3px;
}
.side_kanren .lists li .detail {
	display: table-cell;
	padding-left: 10px;
	vertical-align: middle;
}
.side_kanren .lists li .detail .list_title {
	font-size: 86%;
	line-height: 1.4em;
}
.side_kanren .link {
	display: block;
	background: #f57151;
	color: #fff;
	font-size:86%;
	font-weight: bold;
	text-align: center;
	line-height: 50px;
	margin: 10px 0;
	border-radius: 6px;
}

/* 特集 */
.side_feature {
	margin-bottom: 30px;
}
.side_feature .page_title {
	border-bottom: 2px solid #f57151;
	padding-bottom: 10px;
	margin: 30px 0 10px 0;
}
.side_feature .dis {
	font-size: 86%;
	line-height: 1.5em;
	margin-bottom: 10px;
}
.side_feature .lists {
	border-top: 1px solid #eee;
}
.side_feature .lists li {
	border-bottom: 1px solid #eee;
}
.side_feature .lists li a {
	display: table;
	width: 100%;
	padding: 12.5px 0;
	overflow: hidden;
}
.side_feature .lists li .img{
	display:table-cell;
	width:50px;
	height:50px;
	overflow:hidden;
}
.side_feature .lists li .img img{
	width:auto;
	height:50px;
	border-radius: 3px;
}
.side_feature .lists li .detail {
	display: table-cell;
	padding-left: 10px;
	vertical-align: middle;
}
.side_feature .lists li .detail .list_title {
	font-size: 86%;
	line-height: 1.4em;
}
.side_feature .link {
	display: block;
	background: #f57151;
	color: #fff;
	font-size:86%;
	font-weight: bold;
	text-align: center;
	line-height: 50px;
	margin: 10px 0;
	border-radius: 6px;
}

/* サイド　サークル */
.side_circle_list ul {
	border-top: 1px solid #eee;
}
.side_circle_list li a {
	display: block;
	overflow: hidden;
	border-bottom: 1px solid #eee;
	padding: 10px 0;
}
.side_circle_list li .img {
	width: 35px;
	height: 35px;
	float: left;
}
.side_circle_list li .img img {
	width: 100%;
	height: auto;
}
.side_circle_list li .title {
	color: #444;
	font-size: 86%;
	margin: 0 0 0 45px;
	line-height: 1.5em;
}

/* サイド もっと見るボタン */
.side_more_btn {
	width: 100%;
	margin: 12px auto;
}
.side_more_btn > a.link {
	display: block;
	background: #f57151;
	color: #fff;
	font-size:86%;
	font-weight: bold;
	text-align: center;
	line-height: 50px;
	margin: 10px 0;
	border-radius: 6px;
}

/* サークル一覧 */
#main.page_circle_list {
	margin-bottom: 50px;
	width: 100%;
}
.circle_list_title{
	font-size: 178%;
	margin: 30px 0;
	padding-left: 50px;
	font-weight:bold;
}
.circle_lists{
	padding:0 40px;
	margin-bottom:20px;
}
.circle_lists li{
	float: left;
	width: 30%;
	margin: 0 5px 10px;
	padding: 0 0 0 10px;
	font-size: 13px;
	line-height: 1.3em;
}
.circle_lists li a{
	text-decoration: underline;
}
.circle_lists li a:hover{
	text-decoration: none;
}


/* フッター
------------------------------------------------------ */
.footer {
	background: #fff;
	padding-top: 30px;
	position: relative;
	border-top: 1px solid #eee;
}

/* 人気キーワード */
.bottom_pickup_keyword {
	background: #f5f5f5;
	padding: 20px 0 15px;
	margin-top: 80px;
	overflow: hidden;
}
.bottom_pickup_keyword dt{
	display: block;
	background: #f57151;
	color: #fff;
	text-align: center;
	width: 125px;
	padding: 5px 0;
	float: left;
	font-size: 86%;
	border-radius: 5px;
}
.bottom_pickup_keyword dd {
	width: auto;
	margin-left: 145px;
}
.bottom_pickup_keyword dd li {
	display: inline-block;
	margin: 0 10px 5px;
}
.bottom_pickup_keyword dd li a {
	text-decoration: underline;
}

/* ロゴ */
.footer .logo {
	float: left;
	margin: 1em;
	width: 300px;
	text-align: center;
	color: #202020;
}
.footer .logo > a img {
	width: 253px;
}
.footer .logo .note {
	font-weight: bold;
	text-align: left;
	margin: 1em;
	font-size: 86%;
}

/* フッターmenu */
.footer .footer_nav {
	margin: 1em 0 1em 1em;
	padding-bottom: 2em;
	overflow: hidden;
	float: right;
	width: 630px;
}
.footer .footer_nav dl {
	float: left;
	margin-right: 25px;
	font-size: 86%;
}
.footer .footer_nav dt {
	font-weight: bold;
	color: #202020;
	margin-bottom: 10px;
}
.footer .footer_nav li {
	text-align:left;
	line-height:2em;
	box-sizing: border-box;
}
.footer .footer_nav li a {
	color: #888;
}
.footer .footer_nav .list {
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
}
.footer .footer_nav .about .list {
	width: 200px;
}

/* SNSページへのリンク */
.footer_nsn_link {
	text-align: center;
}
.footer_nsn_link li {
	display: inline-block;
	margin: 0 10px;
}
.footer_nsn_link li img {
	width: 100%;
	height: auto;
}
.footer_nsn_link .twitter a{
	display:block;
	width:50px;
	height:50px;
	padding:10px;
	background:#00b1eb;
	border-radius: 40px;
	box-sizing: border-box;
}
.footer_nsn_link .facebook a{
	display:block;
	width:50px;
	height:50px;
	padding:10px;
	background:#3b5998 ;
	border-radius: 40px;
	box-sizing: border-box;
}

/* コピーライト */
.footer .copyright {
	border-top: 1px solid #eee;
	color: #b0b0b0;
	text-align: center;
	line-height: 25px;
	font-size: 72%;
}
.footer .copyright small {
	line-height: 34px;
}


/* そのほかの共通
------------------------------------------------------ */

/* 上に戻るボタン
------------------------------ */
#pagetop{
	position:absolute;
	top:-50px;
	right:20px;
	z-index:1;
	width:100px;
	height:100px;
	background:#fff;
	border:1px solid #cfcfcf;
	font-size:86%;
	text-align:center;
	line-height:1.3em;
	cursor:pointer;
	border-radius: 100px;
}
#pagetop img {
	margin-top: 18px;
	margin-bottom: 5px;
	width: 40px;
	height: auto;
}


/* BreadcrumbList  パンくず
------------------------------ */
.breadcrumb {
	background:#fafafa;
	padding: 0 .1em;
	font-size:10px;
	overflow:hidden;
	line-height:25px;
}
.breadcrumb li{
	color:#888;
	float: left;
	margin-right: 0em;
	position: relative;
	padding-right: 20px;
}
.breadcrumb li:after {
	position: absolute;
	top: 50%;
	right: 7px;
	display: block;
	content: '';
	width: 4px;
	height: 4px;
	margin-top: -4px;
	border-top: 1px solid #888;
	border-right: 1px solid #888;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.breadcrumb li:last-child:after {
	display: none;
}
.breadcrumb li a {
	color:#888;
}


/* タイトル
------------------------------ */
.page_title {
	color: #444;
	font-size: 100%;
	font-weight: 700;
}


/* 記事一覧
------------------------------ */
.post_loop {
	border-top: 1px solid #eee;
}
.post_loop_item {
	border-bottom: 1px solid #eee;
	position: relative;
}
.post_loop_item a {
	display: block;
	padding: 20px 0;
	overflow: hidden;
}
.post_loop_item figure {
	width: 120px;
	height: 120px;
	float: left;
}
.post_loop_item figure img{
	width:100%;
	height:auto;
	vertical-align:bottom;
	border-radius: 4px;
}
.post_loop_info {
	margin-left: 135px;
}
.post_loop_info .post_title {
	color: #222;
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 25px;
}
.post_loop_info .bottom {
	position: absolute;
	bottom: 20px;
	left: 135px;
	right: 0;
}
.post_loop_info .post_pre_title {
	color: #ccc;
	font-size: 86%;
	line-height: 16px;
	margin-bottom: 5px;
}
.post_loop_info .view {
	color: #ccc;
	font-size: 86%;
	line-height: 16px;
	float: left;
}
.post_loop_info .writer {
	color: #ccc;
	font-size: 86%;
	line-height: 16px;
	float: right;
}

/* 新着記事マーク */
.new_post figure {
	position:relative;
}
.new_post figure:after{
	content:'';
	position:absolute;
	left:0;
	bottom:0;
	width:60px;
	height:60px;
	display:block;
	background:url('../images/top/new_icon.png') no-repeat center;
	background-size:contain;
}

/* ページャー
------------------------------ */
.deg_pager {
	padding:20px;
}
.deg_pager .pager_list {
	overflow: hidden;
	text-align:center;
}
.deg_pager .pager_list li {
	display: inline-block;
}
.deg_pager .pager_list .active span {
	display:inline-block;
	background:#f57151;
	border:1px solid #f57151;
	color:#fff;
	width:34px;
	line-height:34px;
	text-align:center;
	margin:0 5px;
	border-radius: 3px;
}
.deg_pager .pager_list a {
	display:inline-block;
	border:1px solid #cccccc;
	color:#cccccc;
	width:34px;
	line-height:34px;
	text-align:center;
	margin:0 5px;
	border-radius: 3px;
}
.deg_pager .pager_list li.prev {
	float: left;
}
.deg_pager .pager_list li.next {
	float: right;
}
.deg_pager .pager_list li.prev,
.deg_pager .pager_list li.next {
	display:none;
}


/* ------------------------------------------------------
 = トップページ
------------------------------------------------------ */

/* pickup
------------------------------ */
.pickup_list {
	text-align: center;
	width: 100%;
	margin: 2px -3px;
	overflow: hidden;
	min-width: 1000px;
}
.pickup_list li {
	display: inline-block;
	width: 33.3333%;
	margin-right: -5px;
	padding: 0 1px;
}
.pickup_list a {
	display:block;
	height:315px;
	position:relative;
	overflow:hidden;
	border-radius: 3px;
}
.pickup_list .pickup_info{
	background:url('../images/top/pickup_bg.png') repeat-x center bottom;
	background-size:contain;
	position:absolute;
	width:100%;
	left:0;
	right:0;
	bottom:0;
	padding:10px 20px;
	text-align:left;
}
.pickup_list .pinkup_text{
	border:2px solid #fffc00;
	color: #fffc00;
	font-size: 10px;
	text-align:center;
	display:inline-block;
	margin-bottom:12px;
	padding:0 5px;
	border-radius: 6px;
}
.pickup_list .post_title {
	color: #fff;
	font-weight: 700;
	line-height: 26px;
	margin-bottom: 6px;
	font-size: 16px;
}
.pickup_list .view {
	color: #bbb;
	font-size: 11px;
	float: left;
}
.pickup_list .writer {
	color: #bbb;
	font-size: 11px;
	float: right;
}


/* ------------------------------------------------------
 = 記事ページ
------------------------------------------------------ */

/* 記事ヘッダー
------------------------------------------------------ */
.article .article_head {
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
}

/* ヘッダー画像 */
.article .article_head .thumbnail_wrap {
	position: relative;
}
.article .article_head .thumbnail{
	text-indent: 100%; 
	white-space: nowrap; 
	overflow: hidden;
	height:340px;
	margin-bottom:20px;
	border-radius: 6px;
}

/* ライター */
.article .article_head .article_writer{
	background: url('../images/top/pickup_bg.png') repeat-x center bottom;
	background-size:contain;
	position:absolute;
	left:0;
	bottom:0;
	display:table;
	padding:20px;
	width:100%;
	border-radius: 6px;
}
.article .article_head .article_writer .writer_img {
	display: table-cell;
	width: 62px;
	vertical-align: middle;
}
.article .article_head .article_writer .writer_img img{
	width:42px;
	height:42px;
	border:2px solid #fff;
	border-radius: 42px;
}
.article .article_head .article_writer .writer_info {
	color: #fff;
	font-size: 86%;
	font-weight: bold;
	display: table-cell;
	vertical-align: middle;
	width: auto;
}
.article .article_head .article_writer .writer_info a {
	color: #fff;
}
.article .article_head .article_writer .name {
	margin-bottom: 5px;
}
.article .article_head .article_writer .business span {
	display:inline-block;
	border:2px solid #fff;
	padding:0 10px;
	border-radius: 6px;
}

/* 記事タイトル */
.article .article_head .article_title {
	color: #444;
	font-size: 26px;
	font-weight: bold;
	line-height: 36px;
	margin-bottom: 20px;
}

/* 概要リスト */
.article .article_summary {
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 16px;
}

.article .article_summary h2 {
	display: inline-block;
	padding: 0 .4em;
	background: linear-gradient(transparent 30%, #FFE970 0%);
	line-height: 1.15;
	font-weight: bold;
	letter-spacing: .2em;
}
.article .article_summary .ulist {
	margin: .7em 0 0 .7em;
}

.article .article_summary .ulist li {
	background: url('../images/article/list.png') no-repeat left 6px;
	padding-left: 25px;
	margin-bottom: .5em;
}

/* 記事ディスクリプション */
.article .article_head .description {
	font-size: 100%;
	line-height: 1.6;
	margin-bottom: 20px;
}

/* 上部SNS */
.social_list li {
	display: inline-block;
	margin: 0 5px 0 0;
	vertical-align: top !important;
}
.article .article_head .social_list {
	margin-top: 5px;
	float: left;
	line-height: 0;
}

/* View　日付 */
.article .article_head .article_date{
	background:url('../images/article/date.png') no-repeat left center;
	padding-left:23px;
	color:#666;
	font-size:86%;
	float:right;
	margin: 5px 10px 0 0;
	vertical-align:bottom;
}
.article .article_head .top_view {
	float: right;
	font-size: 18px;
	vertical-align: bottom;
}
.article .article_head .top_view span {
	font-size: 86%;
}

/* 記事上部広告 */
.detail_header_ad {
	clear: both;
	text-align: center;
}


/* 記事ブロック
------------------------------------------------------ */

/* 目次
------------------------------ */
.article .mokui{
	clear:both;
	border:1px solid #ddd;
	padding:20px 20px 10px;
	margin-bottom:20px;
	border-radius: 6px;
}
.article .mokui .mokui_title {
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 10px;
}
.article .mokui li {
	background:url('../images/article/mokuji.png') no-repeat left center;
	padding-left:30px;
	margin-bottom:10px;
}
.article .mokui a {
	text-decoration: underline;
}

/* 監修
------------------------------ */
.article .kansyu {
	margin-top: -25px;
	margin-bottom: .5em;
	text-align: right;
	font-size: 14px;
	line-height: 1.4;
	color: #aaa;
}

/* 監修紹介
------------------------------ */
.box-kansyu {
	border: 1px solid #eee;
	padding: 10px;
	line-height: 1.5;
	border-radius: 4px;
}
.box-kansyu .box-kansyuphoto {
	float: left;
	width: 45px;
	height: 45px;
}
.box-kansyu .box-kansyuphoto img {
	width: 100%;
	border-radius: 50%;
}
.box-kansyu .box-kansyu-profile {
	font-size: 12px;
}
.box-kansyu .kansyu-title {
	margin-bottom: 3px;
	padding-left: 50px;
	font-weight: bold;
	color: #ef8080;
}
.box-kansyu .kanren-profile ul {
	padding-left: 50px;
	line-height: 1.2;
}
.box-kansyu .kanren-profile .kansyu-type,
.box-kansyu .kanren-profile .name {
	display: inline-block;
	margin-bottom: 3px;
	font-size: 14px;
}
.box-kansyu .txt-profile {
	clear: left;
	margin: 6px auto 0;
	line-height: 1.4;
	color: #aaa;
}

/* 本文
------------------------------ */
.article_body {
	font-size: 115%;
}
.article_body .mtitle {
	font-size: 150%;
	font-weight: bold;
	border-bottom: 2px solid #f57151;
	padding-bottom: 3px;
	margin: 30px 0 20px;
}
.article_body .stitle {
	font-size: 130%;
	font-weight: bold;
	border-left: 2px solid #f57151;
	padding-left: 14px;
	margin: 25px 0 15px;
}
.article_body .sstitle {
	font-size: 130%;
	font-weight: bold;
	border-bottom: 1px solid #CCC;
	margin: 30px 0 20px;
	padding-bottom: 6px;
}
.article_body .ssstitle {
	font-size: 115%;
	font-weight: bold;
	border-bottom: 1px dashed #ccc;
	margin: 30px 0 20px;
	padding-bottom: 6px;
}
.article_body p {
	line-height: 1.8em;
	margin-bottom: 26px;
}
.article_body .img {
	text-align: center;
}
.article_body .img img{
	max-width:100%;
	height:auto;
	border-radius: 6px;
}
.article_body .img a {
	display: block;
	text-decoration: none;
}

/* コメント
------------------------------ */
.osusume_comments_num_btn02 {
	margin: 20px 0 0;
}
.osusume_comments_num_btn02 a{
	display:inline-block;
	border:1px solid #cccccc;
	color:#444;
	font-size: 14px;
	text-decoration:none;
	font-weight:bold;
	width:146px;
	text-align:center;
	line-height:50px;
	position:relative;
	background: #ffffff;
	background: linear-gradient(to bottom,  #ffffff 0%,#f7f7f7 48%,#efefef 100%);
	border-radius: 3px;
	}
.osusume_comments_num_btn02  a:before{
	content:'';
	display:inline-block;
	width:20px;
	height:20px;
	vertical-align:middle;
	margin-right:10px;
	
	background:url('../images/cate/icon_cmt_w.png') no-repeat center;
	background-size:contain;
}
.tmp_text .osusume_comments_num_btn02 a {
	color: #444;
	text-decoration: none;
}
.tmp_text .osusume_comments_num_btn02 a:link,
.tmp_text .osusume_comments_num_btn02 a:visited {
	color: #444;
}


/* 記事ブロックの文字装飾
------------------------------ */
/*ふと文字や文字色などのクラス*/

/* 太字 */
.article_body .bold1,
.article_body .bold2,
.article_body strong {
	font-size: 1.1em;
	line-height: 1.1em;
	font-weight: bold;
}
.article_body .bold2 {
	color: #ff2323;
}

.article_body hr {
	border: none;
	border-top: 1px #ccc solid;
	height: 1px;
}

/* 書式変更-1 */
.article_body .font1 {
	background:#f6f6f6;
	font-family:"ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-style: italic;
	font-size:14px;
	display:block;
	padding:20px;
}

/* 書式変更-2 */
.article_body .font2 {
	font-family:"ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-style: italic;
	font-size:14px;
}

/* 中央寄せ */
.article_body .center {
	text-align: center;
	margin: 1.5em auto !important;
}

/* リンク
------------------------------ */
/* 何もつけない場合 */
.article_body a {
	color: #f57151;
	text-decoration: underline;
}
.article_body a:link,
.article_body a:visited {
	color: #f57151;
}

/* 一つだけのリンクの場合 */
.article_body .link {
	border: 1px solid #eeeeee;
	color: #444;
	font-size: 14px;
	font-weight:bold;
	text-decoration: underline;
	padding: 10px 20px 10px 30px;
	margin-bottom:30px;
	position: relative;
	border-radius: 4px;
}
.article_body .link::before {
	content: "";
	border: 6px solid transparent;
	border-left-color: #f57151;
	margin-top: -6px;
	position: absolute;
	top: 50%;
	left: 11px;
	-webkit-transform: rotate(0deg);
	        transform: rotate(0deg);
}
.article_body .link:hover {
	text-decoration: none;
}

/* リスト
------------------------------ */
/* 番号なしリスト ul */
.article_body .ulist {
	margin: 15px 0 15px 15px;
}
.article_body .ulist li {
	background:url('../images/article/list.png') no-repeat left 9px;
	background-size:7px auto;
	padding-left:20px;
	margin-bottom:.4em;
}

/* 番号つきリスト ol */
.article_body .olist {
	padding-left: 1.2em;
	margin: 0 0 35px;
}
.article_body .olist li {
	list-style: decimal;
	margin-bottom: .5em;
}

/* 説明リスト dl */
.article_body .dlist {
	margin: 1em 0;
}
.article_body .dlist dt {
	font-size: 1.1em;
	line-height: 1.2em;
	font-weight: bold;
	margin-bottom: 5px;
}
.article_body .dlist dd {
	margin-bottom: 2em;
}

/* テーブル
------------------------------ */
.article_body .table1 {
	border: 1px solid #eee;
}
.article_body .table1 th,
.article_body .table1 td {
	border: 1px solid #eee;
	padding: 5px 10px;
	font-size: .9em;
}
.article_body .table1 tr:nth-child(2n+1) {
	background: #fbfbfb;
}
.article_body .table1 .bg {
	background: #dcdcdc !important;
	font-weight: bold;
}
.article_body .table1 .bg_pink { background: #f8e7ee !important; }
.article_body .table1 .bg_glay { background: #eee !important; }
.article_body .table1 .bg_blue { background: #e1eaf9 !important; }
.article_body .table1 .bg_green { background: #e3f9e1 !important; }
.article_body .table1 .bg_orange { background: #faf2e1 !important; }
.article_body .table1 .center { text-align: center; }
.article_body .table1 .left { text-align: left; }
.article_body .table1 .right { text-align: right; }

/* 引用：画像
------------------------------ */
.article_body .source {
	width: 60%;
	margin: 1.5em auto;
	text-align: center;
}
.article_body .source > p {
	text-align: center;
}
.article_body .source p {
	margin-top: 0;
	font-size: 12px;
	color: #ccc;
}
.article_body .source p a {
	color: #ccc;
	text-decoration: none;
}
.article_body .source > a {
	text-decoration: none;
	display: inline-block;
	max-width: 100%;
}
.article_body .source > a[href*="nekochan"]::after {
	content: "写真を見る";
	display: block;
	margin: .3em auto 7px;
	font-size: 12px;
	color: #aaa;
}
.article_body .source > a img {
	max-width:100%;
	height:auto;
	display:block;
	border: 1px solid #eee;
	border-radius: 6px;
}

/* 引用：テキスト
------------------------------ */
.article_body blockquote{
	background:#f5f5f5 url('../images/article/blockquote.png') no-repeat 14px 10px;
	background-size:16px auto;
	font-weight:bold;
	font-size:14px;
	padding:30px 25px 25px;
	margin-bottom:5px;
	border-radius: 6px;
}
.article_body .quote {
	margin-top: 0;
	font-size: 86%;
	color: #ccc;
	padding-bottom: 5px;
}
.article_body .quote a {
	color: #ccc;
	padding-left: 5px;
	text-decoration: none;
}


/* 本文内パーツなど
------------------------------------------------------ */
/* 本文中広告
------------------------------ */
.article_ad {
	text-align: center;
}

.article_ad_left {
	display: inline-block;
	width: 50%;
	margin-right: -5px;
	vertical-align: top;
	text-align: center;
}
.article_ad_right {
	display: inline-block;
	width: 50%;
	margin-right: -5px;
	vertical-align: top;
	text-align: center;
}

/* 本文下部広告
------------------------------ */
.detail_footer_ad {
	margin: 20px 0;
	text-align: center;
}
.detail_footer_ad li {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	margin-right: -5px;
}

/* シェアボタン
------------------------------ */
.article_footer_sns .social_list {
	margin: 5px 0 10px;
}

/* レコメンドウィジェット
------------------------------ */
.recommend_widget {
	margin-bottom: 30px;
}

/* 記事下部ライター
------------------------------ */
.bottom_writer {
	margin-bottom: 30px;
}
.bottom_writer .page_title {
	border-bottom: 1px solid #ddd;
	margin-bottom: 12px;
	padding-bottom: 5px;
}
.bottom_writer .article_writer {
	display: table;
	width: 100%;
}
.bottom_writer .writer_img {
	display: table-cell;
	width: 75px;
	vertical-align: top;
}
.bottom_writer .writer_img img {
	width:60px;
	height:60px;
	border-radius: 60px;
}
.bottom_writer .writer_info {
	display: table-cell;
	width: auto;
	vertical-align: top;
}
.bottom_writer .writer_info .name {
	font-size: 16px;
	margin-bottom: 10px;
}
.bottom_writer .writer_info .business {
	display:inline-block;
	border:2px solid #f57151;
	color:#f57151;
	padding:0 15px;
	font-size:86%;
	margin-bottom:10px;
	border-radius: 6px;
}
.bottom_writer .writer_info .memo {
	font-size: 86%;
}

/* 商品アフィリエイト
------------------------------ */
.mtitle.affi_title {
	line-height: normal;
}
.affi_card {
	padding: 20px 14px 16px 14px;
	margin: 1.5em 0;
	border: 1px solid #eee;
}
.affi_card::after {
	content: ""; clear: both; display: block;
}
.affi_card .affi_img {
	float: left;
	width: 270px;
}
.affi_card .item_img_main {
	text-align: center;
}
.affi_card .item_img_main img {
	max-width: 250px;
	max-height: 300px;
}
.affi_card .affi_img .source_link {
	margin: 0;
	font-size: 10px;
	text-align: center;
}
.affi_card .affi_img .source_link a {
	color: #ccc;
	text-decoration: none;
}
.affi_card .affi_detail {
	padding-left: 280px;
	padding-right: 10px;
}
.affi_card .item_info {
	margin-bottom: 10px;
}
.affi_card .item_info .title {
	margin-bottom: 4px;
	font-weight: bold;
	line-height: 1.4;
}
.affi_card .item_info .price {
	color: #888;
}
.affi_card .detail_link {
	position: relative;
	margin-bottom: 10px;
}
.affi_card .detail_link a {
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	height: 40px;
	border: solid 2px #eda93a;
	border-radius: 4px;
	font-size: 14px;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	transition: all .3s;
}
.affi_card .detail_link a:link,
.affi_card .detail_link a:visited {
	color: #fff;
}
.affi_card .detail_link a:hover {
	background: #fff;
}
.affi_card .detail_link .btn_a {
	background: #eda93a;
	border-color: #eda93a;
}
.affi_card .detail_link .btn_a:hover {
	color: #eda93a;
}
.affi_card .detail_link .btn_r {
	background: #e85151;
	border-color: #e85151;
}
.affi_card .detail_link .btn_r:hover {
	color: #e85151;
}
.affi_card .detail_link .beacon {
	/* Amazonの1px画像 */
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}
.affi_card .item_variation p {
	margin: 1em 0;
	font-size: 14px;
	line-height: 1.4;
}
.affi_card .item_variation p > a {
	margin-right: .5em;
}
.affi_card .item_detail {
	margin: 1em 0;
	padding-top: 1em;
	border-top: 1px solid #eee;
}
.affi_card .item_detail p {
	font-size: 12px;
	line-height: 1.7;
	margin: 0;
}

/* xl_recommend
------------------------------ */
.xl_recommend .page_title {
	border-bottom: 1px solid #eee;
	margin-bottom: -20px;
}
.page_title_reco {
	border-bottom: 1px solid #eee;
	padding-bottom: 5px;
	margin: 20px 0 10px 0;
	font-weight : bold;
}

/* 記事下部新着記事
------------------------------ */
.article_new_post {
	margin-bottom: 30px;
}

/* 記事下部カテゴリ
------------------------------ */
.bottom_cate {
	margin-bottom: 30px;
}
.bottom_cate .page_title {
	border-bottom: 1px solid #ddd;
	margin-bottom: 12px;
	padding-bottom: 5px;
}

.bottom_cate .cate_list {
	margin: 0 -7px;
}
.bottom_cate .cate_list li {
	width: 33.333%;
	float: left;
	padding: 0 7px;
	margin-bottom: 14px;
}
.bottom_cate .cate_list a  {
	display:table;
	width:100%;
	vertical-align:middle;
	background:#f5f5f5;
	border-radius: 3px;
}
.bottom_cate .cate_list .cate_img {
	display: table-cell;
	width: 60px;
	height: 60px;
}
.bottom_cate .cate_list .cate_name {
	display: table-cell;
	width: auto;
	font-size: 86%;
	color: #666;
	height: 60px;
	vertical-align: middle;
	padding: 0 20px;
}


/* ------------------------------------------------------
 = カテゴリー一覧ページ
------------------------------------------------------ */
.category_list_title_wrap{
	background:url('../images/cate/cate_list_img.png') no-repeat center;
	background-size:cover;
	padding:55px 0;
	color:#fff;
}
.category_list_title_wrap .category_list_title {
	font-size: 30px;
	margin-bottom: 45px;
	text-align: center;
}
.category_list_title_wrap .text {
	font-size: 86%;
	line-height: 1.6em;
}

.category_list_cate_lists {
	margin: 10px -7px;
}
.category_list_cate_lists li {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	margin-right: -5px;
	padding: 0 7px;
	margin-bottom: 20px;
}
.category_list_cate_lists a {
	display:table;
	background:#f9f9f9;
	width:100%;
	overflow:hidden;
	border-radius: 6px;
}
.category_list_cate_lists .cate_img {
	display: table-cell;
	width: 140px;
	height: 140px;
}
.category_list_cate_lists .title_wrap {
	display: table-cell;
	padding: 0 20px;
	vertical-align: middle;
}
.category_list_cate_lists .cate_name {
	font-size: 20px;
	margin-bottom: 15px;
}
.category_list_cate_lists .cate_namea::after {
	display:inline-block;
	top: 50%;
	right: 10px;
	content: '';
	width: 8px;
	height: 8px;
	margin-top: -4px;
	border-top: 1px solid #888;
	border-right: 1px solid #888;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.category_list_cate_lists .cate_dis {
	font-size: 86%;
	color: #aaaaaa;
}

/* さらに細かいカテゴリをみる
------------------------------------------------------ */
.category_list_link{
	display:block;
	margin:30px auto 50px;
	background:#f57151;
	color:#fff;
	font-size:16px;
	text-align:center;
	line-height:60px;
	width:400px;
	border-radius: 6px;
}

.category_list_cate_sub_lists {
	margin: 0 -18px;
	display: none;
}
.category_list_cate_sub_lists > li {
	width: 33.3333%;
	display: inline-block;
	vertical-align: top;
	margin-right: -5px;
	margin-bottom: 50px;
	padding: 0 18px;
}
.category_list_cate_sub_lists .big_title {
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 5px;
	border-bottom: 4px solid #eee;
}
.category_list_cate_sub_lists .sub_list {
	font-size: 14px;
}
.category_list_cate_sub_lists .sub_list a {
	display: block;
	position: relative;
	line-height: 40px;
	border-bottom: 1px solid #eee;
}
.category_list_cate_sub_lists .sub_list a::after {
	position: absolute;
	top: 50%;
	right: 10px;
	display: block;
	content: '';
	width: 4px;
	height: 4px;
	margin-top: -3px;
	border-top: 2px solid #f57151;
	border-right: 2px solid #f57151;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.cate_lists {
	margin: 10px -7px;
}
.cate_lists li {
	width: 50%;
	float: left;
	padding: 0 7px;
}
.cate_lists a {
	display:table;
	width:100%;
	vertical-align:middle;
	background:#f5f5f5;
	border-radius: 3px;
}
.cate_lists .cate_img {
	display: table-cell;
	width: 60px;
	height: 60px;
}
.cate_lists .cate_name {
	display: table-cell;
	width: auto;
	font-size: 86%;
	color: #666;
	height: 60px;
	vertical-align: middle;
	padding: 0 20px;
}


/* ------------------------------------------------------
 = 大カテ・サブカテ
------------------------------------------------------ */
.cate_haeder {
	background: #f9f9f9;
	margin-bottom: 16px;
}

/* 大カテ
------------------------------------------------------ */
.cate_haeder .cate_big_title{
	color:#fff;
	font-size:30px;
	line-height:160px;
	text-align:center;
	margin:16px 0 15px;
	position:relative;
	border-radius: 6px;
}
.cate_haeder .cate_big_title::before {
	z-index: 0;
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 160px;
	background-color: rgba(0,0,0,0.25);
	border-radius: 6px;
}
.cate_haeder .cate_big_title h1 {
	color: #fff;
	position: relative;
	z-index: 1;
}
.cate_haeder .cate_dis {
	color: #888;
	font-size: 86%;
	margin-bottom: 15px;
}

/* サブカテ
------------------------------------------------------ */
.cate_haeder .cate_sub_img {
	float: left;
	margin: 16px 0 25px;
}
.cate_haeder .cate_sub_img img {
	border-radius: 6px;
}
.cate_haeder .cate_sub_title_wrap {
	margin: 30px 0 0 220px;
}
.cate_haeder .cate_sub_title {
	font-size: 30px;
	margin-bottom: 15px;
	margin-top: -10px;
}

/* サブカテのリスト
------------------------------ */
.cate_haeder .sub_cate_list {
	margin-bottom: 30px;
}
.cate_haeder .sub_cate_list .sub_cate_list_title {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
}
.cate_haeder .sub_cate_list li {
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 10px;
}
.cate_haeder .sub_cate_list li a {
	display:block;
	background:#fff;
	border:1px solid #eee;
	font-size:14px;
	line-height:28px;
	position:relative;
	padding:0 35px 0 20px;
	border-radius: 6px;
}
.cate_haeder .sub_cate_list li a::after {
	position: absolute;
	top: 50%;
	right: 18px;
	display: block;
	content: '';
	width: 4px;
	height: 4px;
	margin-top: -3px;
	border-top: 2px solid #f57151;
	border-right: 2px solid #f57151;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
/* サブカテの場合のみ */
.cate_haeder .sub_cate_sub_list {
	margin-left: 220px;
}


/* ------------------------------------------------------
 = ユーザページ
------------------------------------------------------ */
.page_users_profile {
	margin-bottom: 40px;
}
.page_users_profile .img {
	text-align: center;
	margin-bottom: 20px;
}
.page_users_profile .img img {
	width: 140px;
	height: 140px;
	border-radius: 140px;
}
.page_users_profile .name {
	font-size: 20px;
	text-align: center;
	margin-bottom: 10px;
}
.page_users_profile .post_info {
	text-align: center;
	margin-bottom: 20px;
	color: #aaa;
}
.page_users_profile .post_info li {
	display: inline-block;
	font-size: 86%;
	margin: 0 6px;
}
.page_users_profile .post_info li span {
	color: #444;
	font-weight: bold;
	padding: 0 5px;
}

.page_users_profile .body {
	font-size: 86%;
	text-align: center;
}


/* ------------------------------------------------------
 = 画像ページ
------------------------------------------------------ */
.img_page_thumbnail {
	margin-bottom: 15px;
	text-align: center;
}
.img_page_thumbnail img{
	max-width:100%;
	border-radius: 6px;
}
a.img_page_thumbnail_back_link{
	background:#f57151;
	color:#fff;
	line-height:50px;
	text-align:center;
	margin:20px auto;
	display:block;
	width:300px;
	border-radius: 6px;
}

/* この画像が含まれる記事
------------------------------ */
.imgpage_back{
	border:1px solid #cccccc;
	padding:15px 20px 20px;
	border-radius: 6px;
}
.imgpage_back .title {
	font-size: 86%;
	padding-bottom: 15px;
	text-align: center;
	color: #000;
	border-bottom: 1px solid #ccc;
	margin-bottom: 18px;
}
.imgpage_back .post {
	overflow: hidden;
}
.imgpage_back .thumbnail {
	float: left;
}
.imgpage_back .thumbnail img{
	border-radius: 6px;
}
.imgpage_back .title_area {
	margin-left: 140px;
	font-size: 20px;
	margin-bottom: 15px;
	margin-top: -5px;
}
.imgpage_back .description {
	margin-left: 140px;
	color: #aaa;
	font-size: 86%;
}


/* ------------------------------------------------------
 = 検索ページ
------------------------------------------------------ */

/* キーワード検索
------------------------------ */
.search_form_wrap{
	margin: 50px 0 80px;
	padding: 40px 0 30px;
	background: #f9f9f9;
	text-align: center;
	border-radius: 6px;
}
.search_form_wrap .search_form_title {
	font-size: 34px;
	margin-bottom: 10px;
}
.search_form_wrap .text {
	font-size: 86%;
	color: #aaa;
	margin-bottom: 20px;
}

/* カスタム検索フォーム */
.search_form_wrap td.gsc-input,
.search_form_wrap td.gsc-search-button {
	display: block;
}
.search_form_wrap td.gsc-input {
	width: 70%;
	margin: 0 auto;
	padding-right: 0 !important;
}
.search_form_wrap td.gsc-input .gsc-input-box {
	height: 32px;
}
.search_form_wrap td.gsc-input .gsc-input-box > table {
	height: 100%;
}
.search_form_wrap td.gsc-search-button {
	width: auto;
	margin-top: 10px;
	margin-left: 0;
}
.search_form_wrap td.gsc-search-button .gsc-search-button-v2 {
	padding: 8px 35px;
}
.search_form_wrap td.gsc-search-button .gsc-search-button-v2 svg {
	transform: scale(1.3);
}

/* カテゴリから探す
------------------------------ */
.search_form_cate .search_form_cate_title {
	font-size: 20px;
	font-weight: bold;
}
.search_form_cate .text {
	color: #aaa;
	font-size: 86%;
	text-align: right;
	margin-top: -22px;
	margin-bottom: 10px;
}


/* ------------------------------------------------------
 = 検索結果
------------------------------------------------------ */

/* 検索フォーム
------------------------------ */
.search_form_form_wrap {
	background: #f5f5f5;
	padding: 15px 0;
}
.search_form_form_wrap .wrap > div {
	width: 660px;
}

/* カスタム検索フォーム */
.search_form_form_wrap table.gsc-search-box td.gsc-input .gsc-input-box {
	height: 32px;
}
.search_form_form_wrap table.gsc-search-box td.gsc-input .gsc-input-box > table {
	height: 100%;
}
.search_form_form_wrap table.gsc-search-box .gsc-search-button-v2 {
	padding-top:8px;
	padding-bottom: 8px;
}


/* 検索結果リスト
------------------------------ */
.search_page_form .gsc-webResult.gsc-result, .gsc-results .gsc-imageResult {
	border-bottom: 1px solid #eee;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 0;
}
.search_page_form .gsc-webResult.gsc-result, .gsc-results .gsc-imageResult:hover {
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
}
.search_page_form .gsc-results .gsc-cursor-box .gsc-cursor-page {
	padding: 5px 10px;
	display: inline-block;
	margin-bottom: 10px;
	border: 1px solid #eee;
	border-radius: 3px;
}
.search_page_form .gsc-results .gsc-cursor-box .gsc-cursor-page:hover {
	border-color: #aaa;
	text-decoration: none;
}
.search_page_form .gsc-results .gsc-cursor-box .gsc-cursor-current-page {
	border-color: #45403C;
	background-color: #FFFFFF;
	color: #45403C;
	text-shadow:none;
}

.search_page_form .gsc-control-cse div{
	box-sizing: content-box;
}


/* ------------------------------------------------------
 = その他のページ
------------------------------------------------------ */

/* ねこちゃんホンポとは
------------------------------------------------------ */
.page_feature .feature_header{
	background: url('../images/cate/cate_list_img.png') no-repeat center;
	background-size:cover;
	color:#fff;
	text-align:center;
	height:230px;
	border-radius: 6px;
}
.page_feature .feature_header p {
	font-size: 86%;
	font-weight: bold;
	padding: 60px 0 20px;
}
.page_feature .feature_header img {
	width: 333px;
}

.page_feature .article_body {
	font-size: 14px;
	color: #666;
}
.page_feature .stitle {
	font-size: 14px;
	color: #666;
	padding: 5px 10px;
}

.page_feature .feature_list {
	display: inline-block;
	width: 50%;
	margin-right: -5px;
	vertical-align: top;
}
.page_feature .feature_list:nth-child(1) {
	padding-right: 20px;
}
.page_feature .feature_list:nth-child(2) {
	padding-left:20px;
}


/* 運営会社
------------------------------------------------------ */
.page_company {
	margin-top: 50px;
}
.page_company .company_wrap{
	border:1px solid #eeeeee;
	padding:25px 25px 0;
}
.page_company .company_wrap h1{
	border-left:5px solid #f57151;
	font-size:18px;
	font-weight:bold;
	padding-left:10px;
	margin-bottom:25px;
}
.page_company .dlist {
	margin: 1em 0;
}
.page_company .dlist dt {
	font-size: 1.1em;
	line-height: 1.2em;
	font-weight: bold;
}
.page_company .dlist dd {
	margin-bottom: 2em;
}


/* 利用規約
------------------------------------------------------ */
.page_rule {
	border: 1px solid #eee;
	padding: 25px 25px 0;
}
.page_rule .article_title{
	border-left:3px solid #f57151;
	position: relative;
	box-sizing: border-box;
	margin: 0 0 20px;
	padding: 5px 5px 5px 10px;
	font-size: 20px;
	font-weight: 700;
	border-bottom: solid 1px #eee;
}
.page_rule .article_body {
	font-size: 14px;
}
.page_rule .sstitle {
	font-size: 16px;
}


/* プライバシーポリシー
------------------------------------------------------ */
.page_privacy {
	border:1px solid #eeeeee;
	padding:25px 25px 0;
}
.page_privacy .article_title{
	border-left:3px solid #f57151;
	position: relative;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 20px;
	padding: 5px 5px 5px 10px;
	font-size: 20px;
	font-weight: 700;
	border-bottom: solid 1px #EEE;
}
.page_privacy .article_body {
	font-size: 14px;
}


/* Ｑ＆Ａ投稿規約
------------------------------------------------------ */
.page_qa_terms {
	padding: 10px;
	font-size: 14px;
	color: #444;
	margin-bottom: 100px
}
.page_qa_terms .mtitle {
	color: #444;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 1em
}
.page_qa_terms .stitle {
	background: #efece7;
	font-weight: 700;
	padding: 5px;
	margin-bottom: 1em
}
.page_qa_terms .sstitle {
	font-weight: 700;
	margin-bottom: 5px
}
.page_qa_terms p {
	margin-bottom: 1.8em
}
.page_qa_terms a {
	color: #f27877;
	text-decoration: underline
}


/* ------------------------------------------------------
 = コメント投稿関連
------------------------------------------------------ */

/* コメント説明文
------------------------------ */
.com_obi_wrap{
	border:4px solid #eeeeee;
	padding:20px 25px;
	margin-bottom:15px;
	position:relative;
	border-radius: 6px;
}
.cmt_none .com_obi_wrap {
	margin-bottom: 20px;
}

.com_obi_wrap .com_obi_title {
	color: #444;
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 20px;
	line-height: 1.5em;
	border-bottom: 2px solid #f57151;
}

/* コメント説明文詳細ページ */
.page_comment_list .com_obi_wrap {
	border: none;
	padding: 0;
	margin-bottom: 0;
}
.cmt_none .com_obi_wrap02 {
	margin-bottom: 20px;
}

.page_comment_list .com_obi_title {
	color: #444;
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 20px;
	line-height: 1.5em;
	border-bottom: 2px solid #f57151;
}

/* コメント数
------------------------------ */
.osusume_comments_num_btn {
	margin: 20px 0;
	width: 100%;
	overflow: hidden;
}
.osusume_comments_num_btn .comment_count{
	border: 1px solid #ccc;
	display:block ;
	width: 30%;
	float: left;
	line-height:50px;
	vertical-align: top;
	text-align: center;
	font-weight: bold;
	border-radius: 3px;
}
.osusume_comments_num_btn .comment_btn {
	float: right;
	width: 70%;
	vertical-align: top;
	padding-left: 20px;
	padding-right: 2px;
}
.osusume_comments_num_btn  a{
	background: #f57151;
	display: block;
	border:1px solid #f57151;
	color:#fff;
	font-size: 14px;
	text-decoration:none;
	font-weight:bold;
	width:100%;
	text-align:center;
	line-height:50px;
	position:relative;
	border-radius: 3px;
	}
.osusume_comments_num_btn  a:before{
	content:'';
	display:inline-block;
	width:20px;
	height:20px;
	vertical-align:middle;
	margin-right:10px;
	
	background:url('../images/comment/icon_cmt_w.png') no-repeat center;
	background-size:contain;
}

/* コメント一覧
------------------------------ */
.osusume_comments {
	position: relative;
}

.osusume_comments article,
.osusume_comments aside {
	border:1px solid #eeeeee;
	margin-bottom:18px;
	padding:20px;
	border-radius: 6px;
}

.osusume_comments .osusume_comments_title {
	margin: 0;
}
.osusume_comments .comment_count {
	margin: 0;
}

.osusume_comments .name_w,
.osusume_comments .name_m {
	margin: 0 0 5px;
	font-size: 14px;
	line-height: 30px;
	font-weight: bold;
}
.osusume_comments .name_w {
	color: #f08faf;
	margin-left: 36px;
}
.osusume_comments .name_m {
	color: #81d3d8;
}

.osusume_comments .img {
	float: left;
	width: 26px;
	height: 26px;
	margin: 0 10px 15px 0;
}
.osusume_comments .img img {
	width: 100%;
	border: none;
}
.osusume_comments .name {
	margin-bottom: 5px;
	color: #aaa;
	font-size: 86%;
	line-height: 30px;
}
.osusume_comments .body {
	color: #444;
	clear: both;
	margin-bottom: 15px;
	font-size: 14px;
}
.osusume_comments .body_img {
	text-align: center;
}
.osusume_comments .body_img img {
	max-width: 50%;
	height: auto;
}

.osusume_comments_btn {
	text-align: center;
	margin: 0 0 25px 0;
}
.osusume_comments_btn a{
	display:inline-block;
	background:#ef8080;
	border-bottom:3px solid #b34c4c;
	color:#fff;
	font-weight:bold;
	line-height:80px;
	text-align:center;
	width:400px;
	border-radius: 2px;
}
.osusume_comments_btn a:hover {
	text-decoration: none;
	background: #ed7a7a;
}

/* コメント広告
------------------------------ */
.ad_comment {
	text-align: center;
}
.ad_comment > div {
	margin: 0 auto;
}

/* コメントをもっと見る
------------------------------ */
.more_cmt_link {
	text-align: center;
	font-size: 86%;
	text-decoration: underline;
	margin-bottom: 15px;
}
.more_cmt_link a {
	color: #444;
	position: relative;
}
.more_cmt_link a:hover {
	text-decoration: none;
}
.more_cmt_link a:link,
.more_cmt_link a:visited {
	color: #444;
}

.more_cmt_link a:before{
	content: '';
	width: 15px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	background: url(../images/comment/icon_cmt.png) no-repeat center;
	background-size: contain;
}

.osusume_comments_num_btn.cmt_list_bottom_btn {
	text-align: left;
	margin: -5px 0 15px;
}
.osusume_comments_num_btn.cmt_list_bottom_btn a{
	line-height: 30px;
	width: 120px;
	font-size:86%;
}

/* コメントフォーム
------------------------------ */
.comment_list_form{
	border: 4px solid #eeeeee;
	padding: 20px 25px;
	margin-bottom: 15px;
	position: relative;
	border-radius: 6px;
}

/* コメント記事詳細 */
.page_comment_list .comment_list_form{
	border: none;
	padding: 0;
	margin-bottom: 0;
	position: relative;
	border-radius: 0px;
}

.comment_list_form_wrap {
	margin: 0;
	padding: 0;
}
.comment_list_form_wrap .comment_list_form_tile{
	color: #444;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.5em;
	margin-bottom: 2px;
	border-bottom: 2px solid #f57151;
}
.comment_list_form_wrap .com_obi_dis {
	font-size: 14px;
	line-height: 1.5em;
	margin: 20px 0 0;
}
.comment_list_form_wrap .comment_list_form_tile_sub {
	font-size: 86%;
	color: #aaa;
	line-height: 1.4em;
}

.comment_list_form_inner {
	padding: 25px 0 0;
	font-size: 14px;
}

/* エラー文 */
.comment_list_form_inner .error {
	color: #e22727;
	font-size: 14px;
}
.comment_list_form_inner .error p {
	margin: 0;
}

/* 名前、性別、年齢、コメント */
.comment_list_form_inner .name_other_wrap {
	display: table;
	width: 100%;
	margin-bottom: 15px;
}

.comment_list_form_inner .name,
.comment_list_form_inner .generation,
.comment_list_form_inner .sex {
	display: table-cell;
	vertical-align: middle;
}
.comment_list_form_inner .name {
	padding-right: 20px;
	width: auto;
}
.comment_list_form_inner .generation {
	padding-right: 20px;
	width: 140px;
}
.comment_list_form_inner .sex {
	width: 214px;
}
.comment_list_form_inner .generation span,
.comment_list_form_inner .sex span {
	display: none;
}

.comment_list_form_inner .name input,
.comment_list_form_inner .body textarea{
	border:1px solid #ccc;
	padding:6px 12px;
	height: auto;
	vertical-align:bottom;
	border-radius: 3px;
	box-sizing: border-box;
}
.comment_list_form_inner .name input {
	width: 100%;
	line-height: 38px;
	padding: 0 10px;
}
.comment_list_form_inner .body textarea {
	width: 100%;
	height: 200px;
	max-width: inherit;
}

.comment_list_form_inner .generation {
	color: #aaa;
	font-size: 14px;
}
.comment_list_form_inner .generation select{
	border:1px solid #ccc;
	width:130px;
	height:38px;
	padding-left: 10px;
	background: #fff;
	background: linear-gradient(to bottom, #ffffff 0%,#f7f7f7 48%,#efefef 100%);
	border-radius: 3px;
}
.comment_list_form_inner .sex {
	color: #aaa;
	font-size: 14px;
	text-align: right;
}
.comment_list_form_inner .sex input {
	display: none;
}
.comment_list_form_inner .sex label{
	display:inline-block;
	border:1px solid #ccc;
	color:#444;
	width: 100px;
	line-height: 38px;
	cursor: pointer;
	font-size: 14px;
	font-weight:bold;
	text-align: center;
	background: #ffffff;
	background: linear-gradient(to bottom, #ffffff 0%,#f7f7f7 48%,#efefef 100%);
	border-radius: 3px;
}
.comment_list_form_inner .sex label[for="woman"] {
	margin-right: 5px;
}

.comment_list_form_inner .sex input[type="radio"]:checked + label{
	border:1px solid #f57151;
	color:#f57151;
}

/* 写真を付ける */
.comment_list_form_inner .photo {
	font-size: 14px;
	color: #aaa;
	margin: 10px 0 20px;
}

/* 注意事項 */
.comment_list_form .attention,
.page_comment_list .attention{
	clear: both;
	color:#aaa;
	font-size:79%;
	line-height:1.6;
	
}
.comment_list_form .attention dt {
	font-weight: bold;
	text-decoration: underline;
}
.page_comment_list .attention dt {
	display: block;
	cursor: pointer;
	text-decoration: underline;
	margin-top: 20px;
}
.page_comment_list .attention dd,
.comment_list_form .attention dd {
	line-height: 1.5em;
	margin-top: 10px;
}
.page_comment_list .attention dd {
	display: none;
}
.page_comment_list .attention dd ul,
.comment_list_form .attention dd ul {
	margin: 10px 0;
}

/* フォーム投稿ボタン */
.comment_list_form_btn {
	margin: 40px 0;
	text-align: center;
}
.comment_list_form_btn input[type="submit"]{
	border: none;
	color: #fff;
	font-weight: bold;
	line-height: 50px;
	text-align: center;
	width: 230px;
	padding: 0;
	margin: 0;
	-webkit-appearance: none;
	margin-bottom: 10px;
	border-radius: 3px;
	background: #f4907a;
	background: linear-gradient(to bottom,  #f4907a 0%,#f57151 99%);
}
.comment_list_form_btn input[type="submit"]:hover{
	background: #f4907a;
	background: linear-gradient(to bottom,  #f4907a 0%,#f57151 99%);
	opacity:0.8;
}
.comment_list_form_btn p,
.comment_list_form_btn p{
	margin:0;
	padding:0;
	color:  #e22727;
	font-size: 14px;
	font-weight:bold;
}

/* コメント下の広告
------------------------------ */
.article_bottom_ad_sp {
	display: none;
}


/* コメント詳細ページ
------------------------------------------------------ */
.page_comment_list_inner {
	border: 1px solid #eeeeee;
	padding: 20px;
}

/* コメントの元記事
------------------------------ */
.comment_article_link {
	display: table;
	width: 100%;
	margin: 0 0 20px;
}
.comment_article_link .img {
	width: 50px;
	display: table-cell;
}
.comment_article_link .img img {
	width:100%;
	border-radius:3px;
}
.comment_article_link .info {
	display: table-cell;
	width: auto;
	vertical-align: middle;
	padding-left: 15px;
}
.comment_article_link .info .title {
	font-weight: bold;
	font-size: 16px;
}
.comment_article_link .info .title a {
	text-decoration: underline;
}

/* コメントタイトル
------------------------------ */
.page_comment_list .com_obi_wrap::after {
	right: 50%;
	margin-right: -7px;
}
.page_comment_list .osusume_comments_num_btn .comment_btn {
	padding-left: 0;
	width: 100%;
}

/* コメントするボタン
------------------------------ */
.page_comment_list .com_obi_wrap::after {
	right: 50%;
	margin-right: -7px;
}
.page_comment_list .osusume_comments_num_btn .comment_btn {
	padding-left: 0;
}

/* コメント一覧
------------------------------ */
.page_comment_list .comment_list {
	margin: 30px -20px 20px;
}
.page_comment_list .comment_list .comment_count {
	border-bottom: 1px solid #eee;
	line-height: 50px;
	text-align: center;
}
.page_comment_list .comment_list > ul li {
	border-bottom: 1px solid #eee;
	padding: 25px 30px;
}
.page_comment_list .comment_list > ul li:last-child {
	border-bottom:none;
}
.page_comment_list .comment_list .img {
	float: left;
	width: 30px;
	margin-right: 10px;
	margin-bottom: 15px;
}
.page_comment_list .comment_list .img img {
	width: 100%;
}
.page_comment_list .comment_list .dis {
	color: #aaa;
	font-size: 10px;
	margin-bottom: 20px;
	line-height: 30px;
}
.page_comment_list .comment_list .dis a {
	color: #aaa;
	text-decoration: underline;
}
.page_comment_list .comment_list .dis span {
	color: #000;
	font-weight: bold;
}
.page_comment_list .comment_list .body {
	color: #444;
	margin-bottom: 15px;
}
.page_comment_list .comment_list .body_img {
	text-align: center;
}
.page_comment_list .comment_list .body_img img {
	max-width: 50%;
	height: auto;
}

/* コメントのページャー
------------------------------ */
.comment_pager .pager_list {
	border: none;
	padding: 10px;
	text-align:center;
}
.comment_pager .pager_list li {
	display: inline-block;
	margin: 0 20px;
}
.comment_pager .pager_list li a{
	display:block;
	border:1px solid #ccc;
	color:#aaaaaa;
	font-size:13px;
	line-height:40px;
	text-align:center;
	width:80px;
	border-radius: 2px;
}

/* コメントフォーム
------------------------------ */
.page_comment_list .comment_list_form {
	margin: 20px 0;
}

/* コメントの編集・削除依頼
------------------------------ */
.comment_sub_text {
	text-align: right;
	color: #aaa;
	font-size: 86%;
}
.comment_sub_text a {
	color: #f57151;
	text-decoration: underline;
}


/* コメント募集記事一覧ページ、サイドバーのコメント募集
------------------------------------------------------ */
.cmt_article_list {
	margin: 20px 0;
}
.cmt_article_list_title {
	font-weight: bold;
	margin-bottom: 15px;
}
.cmt_article_list ul {
	border-top: 1px solid #eee;
}
.cmt_article_list li {
	border-bottom: 1px solid #eee;
}
.cmt_article_list li a {
	display: block;
	overflow: hidden;
	padding: 15px 0;
	position: relative;
}
.cmt_article_list li a:hover {
	background: #f7f4f2;
	text-decoration: none;
}
.cmt_article_list li .img {
	width: 50px;
	float: left;
}
.cmt_article_list li .img img {
	width: 100%;
	height: auto;
	border-radius: 3px;
}
.cmt_article_list li .txt_info {
	margin-left: 65px;
}
.cmt_article_list li .title {
	font-size: 100%;
	margin-bottom: 6px;
	font-weight: bold;
	line-height: 1.4em;
	height: auto;
}
.cmt_article_list li .cmt_count {
	color: #aaa;
	font-size: 86%;
	position: relative;
}
.cmt_article_list li .cmt_count span {
	color: #f57151;
	font-weight: bold;
	padding-right: 5px;
}
.cmt_article_list li .cmt_count span.not {
	text-decoration: underline;
}
.cmt_article_list li .cmt_count::after {
	display:inline-block;
	content: '';
	width: 6px;
	height: 6px;
	margin-top: -3px;
	border-top: 2px solid #cdcdcd;
	border-right: 2px solid #cdcdcd;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* コメント一覧 */
.cmt_article_list ul.comment_list li .img {
	width: 120px;
	float: left;
}
.cmt_article_list ul.comment_list li .img img {
	width: 100%;
	height: auto;
	border-radius: 3px;
}
.cmt_article_list ul.comment_list li .txt_info {
	margin-left: 140px;
}


/* コメント投稿確認画面
------------------------------------------------------ */
.comment_cf {
	margin-top: 30px;
}
.comment_cf .comment_cf_tile {
	background: #f5f5f5;
	line-height: 50px;
	text-align: center;
}
.comment_cf .comment_cf_inner {
	border: 1px solid #eee;
	padding: 25px 30px;
}
.comment_cf .comment_cf_inner .error {
	color: #e22727;
	font-size: 14px;
	font-weight: bold;
}
.comment_cf .comment_cf_inner .error p {
	margin-bottom: 10px;
}
.comment_cf .dis {
	color: #aaa;
	font-size: 86%;
	margin-bottom: 20px;
}
.comment_cf .body {
	color: #444;
	font-size: 16px;
	padding-top: 0;
	margin-bottom: 10px;
}
.comment_cf .img img {
	max-width: 300px;
}
.comment_cf .comment_cf_btn {
	margin: 20px 0;
	text-align: center;
}
.comment_cf .comment_cf_btn input[type="submit"],
.comment_cf .comment_cf_btn input[type="button"] {
	border: none;
	background: #F57151;
	color: #fff;
	font-weight: 700;
	line-height: 60px;
	text-align: center;
	width: 400px;
	height: auto;
	-webkit-appearance: none;
	border-radius: 0;
	cursor:pointer;
	padding: 0;
	margin: 0;
}
.comment_cf .comment_cf_btn input:hover {
	opacity:0.8;
}

/* コメント投稿完了画面
------------------------------------------------------ */
.comment_finish {
	margin-top: 30px;
}
.comment_finish .comment_finish_title {
	background: #f5f5f5;
	line-height: 50px;
	text-align: center;
}
.comment_finish .back_link {
	margin: 20px 0;
	text-align: center;
}
.comment_finish .back_link a{
	display:inline-block;
	border: 1px solid #ccc;
	color:#999;
	padding: 6px 12px;
	border-radius: 2px;
	box-sizing: border-box;
}

/* 通報ページ
------------------------------------------------------ */
.comment_edit_request .comment_edit_request_title {
	background: #f5f5f5;
	line-height: 50px;
	text-align: center;
}
.comment_edit_request_form {
	border: 1px solid #eee;
}
.comment_edit_request_form_inner {
	padding: 25px 35px;
}
.comment_edit_request_form input,
.comment_edit_request_form textarea{
	border: 1px solid #ccc;
	padding: 6px 12px;
	border-radius: 2px;
	box-sizing: border-box;
}
.comment_edit_request_form .name {
	margin-bottom: 15px;
}
.comment_edit_request_form .name input {
	width: 350px;
}
.comment_edit_request_form .body textarea {
	width: 100%;
	height: 200px;
	max-width: inherit;
}
.comment_edit_request_btn {
	margin: 20px 0;
	text-align: center;
}
.comment_edit_request_btn input[type="submit"]{
	border: none;
	background: #f57151;
	color: #fff;
	font-weight:bold;
	line-height: 60px;
	text-align: center;
	width: 400px;
	margin: 0;
	padding: 0;
	-webkit-appearance: none;
}
.comment_edit_request_btn input[type="submit"]:hover{
	background: #f57151;
	opacity:0.8;
}

